.cSide{
    background: #989898;
    min-height: 100vh;
    width: 20%;
    float: left;
}

.sidebar{
    width: 20%;
    float: left;
}

.cBack{

    background-color: #cacaca;
    background-size:16px 16px;
}


.cBasis{
    background: #bbbbbb;
}
